@using Zen.Barcode
@using Zen.Barcode.Web.Mvc
@{
    ViewBag.Title = "Home";
}
<div style="margin: 50px; text-align: center;">
    <img src="@Url.Barcode("0192602900001926029000", BarcodeSymbology.Code128, 30, 1, true)" />
</div>